.n-bottom {
  padding: 0;
  color: #c5a450;
  box-sizing: border-box;
  font-family: 'SimHei';
}

#footer {
  background: #2D3E50;
  padding: 70px 60px;
  color: #C5A450;
}

.footer-future {
  display: block;
}

.footer-contact {
  padding-right: 15vw;
  text-align: right;
}

.footer-contact img {
  margin: 0 15px;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

.footer-contact img:hover {
  transform: scale(1.2);
}

.footer-line {
  width: 100%;
  height: 2px;
  background: radial-gradient(at 0% 0%, #0057FF 0%, #DBFD73 98%, #FFFFFF 100%);
  margin: 20px 0;
}

.footer-bot {
  padding: 0 20px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-bot-left p {
  font-size: 14px;
  margin-top: 10px;
}

.footer-bot-navs {
  display: flex;
}

.footer-bot-navs .nav-item {
  font-size: 18px;
  cursor: pointer;
  margin-right: 40px;
  color: #c5a450;
}

.footer-bot-navs .nav-item a {
  color: #c5a450;
}