@font-face {
  font-family: SimHei;
  src: url('../fonts/SimHei.ttf');
}

* {
	margin: 0;
	padding: 0;
}

a {
  outline: none;
  text-decoration: none;
}

li {
	list-style: none;
}

.new-home {
  box-sizing: border-box;
  font-family: SimHei;
  color: #191919;
}

.banner {
  height: 36vw;
  display: flex;
}

.banner-left {
  width: 32vw;
  height: 100%;
}

.banner-tool {
  height: 5vw;
  background: url('/images/home/banner-tool.png') center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5vw;
}

.banner-light {
  height: 10vw;
  background: url('/images/home/banner-light.png') center no-repeat;
  background-size: cover;
  position: relative;
}

.banner-light img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.banner-search {
  height: calc((100% - 15vw) / 2);
  background: url('/images/home/banner-search.png') center no-repeat;
  background-size: cover;
  background-position-y: top;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 3vw;
  color: #191919;
  transition: all ease-in-out.5s;
}

.banner-search:hover {
  transform: scale(1.05);
}

.banner-search-text {
  font-size: 14px;
  width: 250px;
  line-height: 22px;
}

.banner-search-title {
  font-size: 26px;
  width: 250px;
  margin-bottom: 10px;
}

.banner-ai {
  height: calc((100% - 15vw) / 2);
  background: url('/images/home/banner-ai.png') center no-repeat;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 3vw;
  color: #fff;
  transition: all ease-in-out .5s;
}

.banner-ai:hover {
  transform: scale(1.05);
}

.banner-ai-text {
  font-size: 14px;
  width: 236px;
  line-height: 22px;
}

.banner-ai img {
  margin-bottom: 10px;
}

.banner-right {
  width: calc(100% - 32vw);
  height: 100%;
}

.banner-right .banner-img {
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.banner-right .arrow {
  width: 66px;
  height: 66px;
  z-index: 5;
  inset-inline-start: 2vw;
  top: calc(50% - 33px);
  position: absolute;
  cursor: pointer;
}

.banner-right .arrow.rotate {
  transform: rotate(180deg);
  inset-inline-start: unset;
  inset-inline-end: 2vw;
}

.banner-img .ul-pic img {
  width: 100%;
  height: 36vw;
  object-fit: cover;
}

.recommend {
  margin: 38px 0;
  padding: 0 60px;
}

.recommend-title {
  font-size: 20px;
  margin-bottom: 24px;
  padding-left: 10px;
}

.recommend-title img {
  margin-right: 5px;
  vertical-align: top;
}

.recommend-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 12px;
}

.recommend-item {
  width: 7.5vw;
  height: 57px;
  background: url('/images/home/recommend-bg.png') center no-repeat;
  background-size: 100% 100%;
  color: #717171;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all ease-in-out .5s;
}

.recommend-item:hover {
  color: #191919;
  background: url('/images/home/recommend-bg-selected.png') center no-repeat;
  background-size: 100% 100%;
}

.album {
  padding: 0 60px;
}

.album .title {
  display: block;
  margin: 0 auto;
}

.album .sub-title {
  margin: 30px 0 48px 0;
  text-align: center;
  font-size: 18px;
  color: #2D3E50;
}

.album .btn-more {
  background: #0057FF;
  width: 140px;
  height: 37px;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album .list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  /* justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
}

.album .list .item {
  /* width: 20%;
  padding-right: 10px; */
  margin-bottom: 50px;
  cursor: pointer;
}

.album .list .item:nth-child(5n) {
  padding-right: 0;
}

.album .list .img-wrap {
  width: 100%;
  height: 12vw;
  overflow: hidden;
  margin-bottom: 15px;
}

.album .list .img-wrap img {
  width: 100%;
  height: 100%;
  transition: all ease-in-out .5s;
  object-fit: cover;
}

.album .list .img-wrap img:hover {
  transform: scale(1.1);
}

.album .list .intro {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.album .list .intro p {
  font-size: 18px;
}

.album .list .intro p:nth-child(1) {
  flex: 1;
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.album .list .intro p:nth-child(2) {
  flex-shrink: 0;
}

.popular {
  background: #DBFD73;
  padding: 76px 60px 100px 60px;
}

.popular-title {
  display: block;
  margin: 0 auto;
}

.popular-text {
  font-size: 18px;
  line-height: 30px;
  width: 590px;
  margin: 0 auto;
  text-align: center;
  color: #2D3E50;
  padding: 30px 0 48px 0;
}

.popular-category {
  margin-bottom: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-category img {
  margin: 0 20px;
}

.popular-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.popular-btns-item {
  border-radius: 5px;
  border: 1px solid #747474;
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: #2D3E50;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  position: relative;
  background: #DBFD73;
}

.popular-btns-item:last-child {
  margin-right: 0;
}

.popular-btns-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background: url('/images/home/popular-line.png') center no-repeat;
}

.popular-wall {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.popular-wall-item {
  transition: all ease-in-out .4s;
}

.popular-wall-item:hover {
  transform: translateY(-7px);
}