<section>
  <link href="/css/header.css" rel="stylesheet" type="text/css" />
  <link href="//at.alicdn.com/t/c/font_4789865_f95hj9izwcr.css" rel="stylesheet">
  <script src="/js/vue.global.js"></script>
  <script src="/js/i18n-init.js"></script>
  <script src="/js/menu.js"></script>
  <!-- 引入防xss攻击js -->
  <script src="/js/purify.min.js"></script>

  <div id="header">
    <img src="/images/header/logo.png" class="header-logo">
    <div class="header-first">
      <div class="search">
        <div class="search-icon">
          <img src="/images/header/icon-search.png" alt="">
        </div>
        <input placeholder="请输入品牌名" class="search-input" data-localize="header.search_placeholder" />
        <div class="search-camera">
          <img src="/images/header/camera-icon.png" />
        </div>
        <div class="search-btn" data-localize="header.search_btn">全站搜</div>
        <!-- 拍照搜索弹框 -->
        <div class="search-pop">
          <div class="search-content">
            <div class="search-drop" data-localize="header.drag_hint">拖拽图片到这里</div>
            <div class="upload-wrap">
              <input type="file" class="upload-pic" />
              <span class="upload-text" data-localize="header.choose_file">选择文件</span>
            </div>
          </div>
          <div class="upload-error" style="display: none;">
            <div class="upload-error-text">抱歉，您上传的文件不是图片格式，请<a href="javascript:void(0)">重新上传</a></div>
            <div class="upload-error-text">仅支持10M以下jpg，jpeg，png，bmp，gif格式图片</div>
          </div>
          <div class="upload-loading" style="display: none;" data-localize="header.loading">正在加载图片...</div>
          <div class="upload-close"></div>
        </div>
      </div>
      <div class="header-first-right">
        <a href="/about/downLoadUrl.aspx"><div class="header-first-exe"><img src="/images/header/exe-icon.png" /><span data-localize="header.desktop_client">桌面客户端</span></div></a>
        <div class="lang-switcher">
          <div class="lang-current">
            <i class="iconfont icon-yuyan"></i>
            <span class="lang-text">中文</span>
            <i class="iconfont icon-xiajiantou"></i>
          </div>
          <ul class="lang-list">
            <li data-lang="zh" data-localize="common.lang_zh">中文</li>
            <li data-lang="en" data-localize="common.lang_en">英语</li>
            <li data-lang="es" data-localize="common.lang_es">西班牙语</li>
            <li data-lang="fr" data-localize="common.lang_fr">法语</li>
            <li data-lang="ru" data-localize="common.lang_ru">俄语</li>
          </ul>
        </div>
        <div class="header-first-login">
          <a href="/member/login.aspx" data-localize="header.login">登录</a>
          <span class="header-first-login-line"></span>
          <a href="/member/reg.aspx" data-localize="header.register">注册</a>
        </div>
        <div class="header-first-user" style="display: none;">
          <span data-localize="header.welcome">欢迎您，</span>
          <span class="header-first-user-info">yqq(内部会员)
            <a href="/member/default.aspx" class="app" data-localize="header.member_center">会员中心</a> | <a href="/member/loginOut.aspx" data-localize="header.logout">退 出</a>
          </span>
        </div>
      </div>
    </div>
    <!-- 导航菜单 -->
    <div class="navs">
      <li
        class="navs-item"
        v-for="(item, index) in menuList"
        :key="index"
        @mouseenter="mouseEnterNav($event, item)"
        @mouseleave="handleMouseLeave"
        @click="handleClickMenu($event, item)"
      >
        <img :src="item.icon" v-if="item.icon" style="pointer-events: none;" />
        <span v-if="item.name" style="pointer-events: none;">{{ t(item.key || item.name) }}</span>
      </li>
       <!-- 导航菜单箭头 -->
      <span
        id="navArrow"
        class="iconfont icon-a-xingzhuang12"
        :style="{color: currentNav.backgroundTop, transform: navModalVisible ? 'translate3D(0, -40%, 0)' : 'translate3D(0, 0, 0)'}"
        @mouseenter="navModalVisible = true"
        @mouseleave="navModalVisible = false"
      >
      </span>
    </div>
    <!-- 导航菜单下拉项 -->
    <div class="nav-modal-wrap">
      <div
        class="navs-modal"
        ref="navModal"
        :style="{background: currentNav.background, transform: navModalVisible ? 'translate3D(0, 0, 0)' : 'translate3D(0, calc(-100% - 1px), 0)'}"
        :class="currentNav.class"
        
        @mouseenter="navModalVisible = true"
        @mouseleave="navModalVisible = false"
      >
        <div class="navs-modal-top" :style="{background: currentNav.backgroundTop}">
          <span class="circle" :style="{background: currentNav.backgroundTop}"></span>
        </div>
        <div class="navs-modal-content">
          <div class="navs-modal-content-left">
            <div class="category" v-for="(item, index) in currentNav.children" :key="index">
              <div class="section" @click="jumpTo(item)">
                <div class="icon-wrap">
                  <img :src="item.icon" />
                </div>
                <p class="label">{{ t(item.key || item.name) }}</p>
              </div>
              <div class="wrap-nav">
                <li class="sub-nav" v-for="(child, index) in item.subMenu" :key="index" @click="jumpTo(child)">{{ t(child.key || child.name) }}</li>
              </div>
              <div class="desc" v-if="item.desc || item.desc_key">{{ t(item.desc_key || item.desc) }}</div>
            </div>
          </div>
          <div class="navs-modal-content-right" v-if="currentNav.category_intro">
            <div>
              <p class="intro-title">
                <img src="/images/header/intro-title.png" style="margin-right: 5px;">{{ t('menu.column_intro') }}
              </p>
              <p class="intro-text">{{ t(currentNav.category_intro_key || currentNav.category_intro) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    
    $(function() {
      console.log('在此处输出jquery语法')


    })

    const { createApp, ref, computed, onMounted } = Vue

    const app = createApp({
      setup() {
        const navModalVisible = ref(false)
        const currentNav = ref({})
        const i18nData = ref(window.i18nData || {})

        const hoverFontColor = computed(() => currentNav.value.backgroundTop)

        const menuList = window.menuList

        let timeId = 0  // 定时器id，计算鼠标停留时间

        onMounted(() => {
          $(document).on('localize.completed', () => {
            i18nData.value = window.i18nData
          })
        })

        // 鼠标移动到菜单
        function mouseEnterNav(e, item) {
          timeId = setTimeout(() => {
            showModal(e, item)
          }, 200)
        }

        // 显示菜单
        function showModal(e, item) {
          currentNav.value = item
          if (item.children) navModalVisible.value = true
          let navArrowDom = document.querySelector('#navArrow')
          navArrowDom.style.left = (e.target.offsetLeft + 20 * (window.innerWidth / 1920)) + 'px'
        }

        // 鼠标离开菜单
        function handleMouseLeave() {
          clearTimeout(timeId)
          navModalVisible.value = false
        }

        // 点击菜单
        function handleClickMenu(e, item) {
          clearTimeout(timeId)
          showModal(e, item)
          if (item.link) {
            item.open ? window.open(item.link) : window.location.href = item.link
          }
        }

        // 点击导航菜单跳转
        function jumpTo(item) {
          if (item.link) {
            item.open ? window.open(item.link) : window.location.href = item.link
          }
        }

        const t = (key) => {
          if (!key) return ''
          if (window.i18nHandler && window.i18nHandler.translate) {
            // Using i18nData.value here to ensure reactivity
            const val = i18nData.value
            return window.i18nHandler.translate(key)
          }
          return key
        }

        return {
          navModalVisible,
          currentNav,
          hoverFontColor,
          menuList,
          mouseEnterNav,
          handleMouseLeave,
          jumpTo,
          handleClickMenu,
          t,
          i18nData
        }
      }
    })

    app.mount("#header")

  </script>

</section>