<section>
  <link href="/css/header.css" rel="stylesheet" type="text/css" />
  <link href="//at.alicdn.com/t/c/font_4789865_f95hj9izwcr.css" rel="stylesheet">
  <script src="/js/vue.global.js"></script>
  <script src="/js/menu.js"></script>
  <!-- 引入防xss攻击js -->
  <script src="/js/purify.min.js"></script>

  <div id="header">
    <img src="/images/header/logo.png" class="header-logo">
    <div class="header-first">
      <div class="search">
        <div class="search-icon">
          <img src="/images/header/icon-search.png" alt="">
        </div>
        <input placeholder="请输入关键词" class="search-input" />
        <div class="search-camera">
          <img src="/images/header/camera-icon.png" />
        </div>
        <div class="search-btn">全站搜</div>
        <!-- 拍照搜索弹框 -->
        <div class="search-pop">
          <div class="search-content">
            <div class="search-drop">拖拽图片到这里</div>
            <div class="upload-wrap">
              <input type="file" class="upload-pic" />
              <span class="upload-text">选择文件</span>
            </div>
          </div>
          <div class="upload-error" style="display: none;">
            <div class="upload-error-text">抱歉，您上传的文件不是图片格式，请<a href="javascript:void(0)">重新上传</a></div>
            <div class="upload-error-text">仅支持10M以下jpg，jpeg，png，bmp，gif格式图片</div>
          </div>
          <div class="upload-loading" style="display: none;">正在加载图片...</div>
          <div class="upload-close"></div>
        </div>
      </div>
      <div class="header-first-right">
        <a href="/about/downLoadUrl.aspx"><div class="header-first-exe"><img src="/images/header/exe-icon.png" />桌面客户端</div></a>
        <div class="header-first-login">
          <a href="/member/login.aspx">登录</a>
          <span class="header-first-login-line"></span>
          <a href="/member/reg.aspx">注册</a>
        </div>
        <div class="header-first-user" style="display: none;">
          欢迎您，
          <span class="header-first-user-info">yqq(内部会员)
            <a href="/member/default.aspx" class="app">会员中心</a> | <a href="/member/loginOut.aspx">退 出</a>
          </span>
        </div>
      </div>
    </div>
    <!-- 导航菜单 -->
    <div class="navs">
      <li
        class="navs-item"
        v-for="(item, index) in menuList"
        :key="index"
        @mouseenter="mouseEnterNav($event, item)"
        @mouseleave="navModalVisible = false"
        @click="jumpTo(item)"
      >
        <img :src="item.icon" v-if="item.icon" />
        <span v-if="item.name">{{ item.name }}</span>
      </li>
       <!-- 导航菜单箭头 -->
      <span
        id="navArrow"
        class="iconfont icon-a-xingzhuang12"
        :style="{color: currentNav.backgroundTop, transform: navModalVisible ? 'translate3D(0, -40%, 0)' : 'translate3D(0, 0, 0)'}"
        @mouseenter="navModalVisible = true"
        @mouseleave="navModalVisible = false"
      >
      </span>
    </div>
    <!-- 导航菜单下拉项 -->
    <div class="nav-modal-wrap">
      <div
        class="navs-modal"
        ref="navModal"
        :style="{background: currentNav.background, transform: navModalVisible ? 'translate3D(0, 0, 0)' : 'translate3D(0, calc(-100% - 1px), 0)'}"
        :class="currentNav.class"
        
        @mouseenter="navModalVisible = true"
        @mouseleave="navModalVisible = false"
      >
        <div class="navs-modal-top" :style="{background: currentNav.backgroundTop}">
          <span class="circle" :style="{background: currentNav.backgroundTop}"></span>
        </div>
        <div class="navs-modal-content">
          <div class="navs-modal-content-left">
            <div class="category" v-for="(item, index) in currentNav.children" :key="index">
              <div class="section" @click="jumpTo(item)">
                <div class="icon-wrap">
                  <img :src="item.icon" />
                </div>
                <p class="label">{{ item.name }}</p>
              </div>
              <div class="wrap-nav">
                <li class="sub-nav" v-for="(child, index) in item.subMenu" :key="index" @click="jumpTo(child)">{{ child.name }}</li>
              </div>
              <div class="desc" v-if="item.desc">{{ item.desc }}</div>
            </div>
          </div>
          <div class="navs-modal-content-right" v-if="currentNav.category_intro">
            <div>
              <p class="intro-title">
                <img src="/images/header/intro-title.png" style="margin-right: 5px;">栏目介绍
              </p>
              <p class="intro-text">{{ currentNav.category_intro }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    
    $(function() {
      console.log('在此处输出jquery语法')


    })

    const { createApp, ref, computed } = Vue

    const app = createApp({
      setup() {
        const navModalVisible = ref(false)

        const currentNav = ref({})

        const hoverFontColor = computed(() => currentNav.value.backgroundTop)

        const menuList = window.menuList

        // 鼠标移动到菜单
        function mouseEnterNav(e, item) {
          currentNav.value = item
          if (item.children) navModalVisible.value = true
          let navArrowDom = document.querySelector('#navArrow')
          navArrowDom.style.left = (e.target.offsetLeft + 20 * (window.innerWidth / 1920)) + 'px'
        }

        // 点击导航菜单跳转
        function jumpTo(item) {
          if (item.link) {
            item.open ? window.open(item.link) : window.location.href = item.link
          }
        }

        return {
          navModalVisible,
          currentNav,
          hoverFontColor,
          menuList,
          mouseEnterNav,
          jumpTo,
        }
      }
    })

    app.mount("#header")

  </script>

</section>