<html>
  <head>
    <meta charset="utf-8">
    <title>会员中心-R355服饰资讯网</title>
    <meta
      name="Description"
      content="R355服饰资讯网,专业的服装设计网站,为您提供最专业的时装设计,时装设计图,时尚服装图片,环保时装设计,时装设计图片,个性时尚服装图片,服装设计图片,服装款式设计图,服装图案,服装杂志,时装杂志,服装书籍,时装书籍,时装发布,时装发布会等信息"
    />
    <meta
      name="keywords"
      content="时装设计图,时尚服装图片,环保时装设计,时装设计图片,个性时尚服装图片,服装设计图片,服装款式设计图,服装图案,服装杂志,时装杂志,服装书籍,时装书籍,时装发布,时装发布会"
    />
    <meta name="subject" content="服装设计" />
    <meta name="searchtitle" content="服装设计,R355服饰资讯网" />
    <meta name="language" content="chinese" />
    <meta name="location" content="China" />
    <meta name="resource-type" content="Good WebSites" />
    <meta name="email" content="R355@R355.com" />
    <meta name="author" content="R355服饰资讯网,https://www.R355.com" />
    <link href="/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/css/master.css" rel="stylesheet" type="text/css" />
    <link href="/css/user.css" rel="stylesheet" type="text/css" />
    <link href="/css/list.css" rel="stylesheet" type="text/css" />
    <link href="/css/new2022.css" rel="stylesheet" type="text/css" />
    <link href="/css/user-new.css" rel="stylesheet" type="text/css" />
    <style>
      .pay-content {
        padding: 25px;
      }
    </style>
  </head>
  <body class="color_a">
    <script src="/js/jquery-1.7.2.min.js"></script>
    <section>
      <link href="/css/header.css" rel="stylesheet" type="text/css" />
      <link
        href="//at.alicdn.com/t/c/font_4789865_f95hj9izwcr.css"
        rel="stylesheet"
      />
      <script src="/js/vue.global.js"></script>
      <script src="/js/menu.js?v=0.012"></script>
      <!-- 引入防xss攻击js -->
      <script src="/js/purify.min.js"></script>

      <div id="header">
        <a href="/" title="R355服饰资讯网"
          ><img src="/images/header/logo.png" class="header-logo"
        /></a>
        <div class="header-first">
          <div class="search">
            <div class="search-icon">
              <img src="/images/header/icon-search.png" alt="" />
            </div>
            <input
              placeholder="请输入品牌名"
              class="search-input"
              value=""
              id="key_barnd"
            />
            <div class="search-camera">
              <img src="/images/header/camera-icon.png" />
            </div>
            <div class="search-btn">全站搜</div>
            <!-- 拍照搜索弹框 -->
            <div class="search-pop">
              <div class="search-content">
                <div class="search-drop">拖拽图片到这里</div>
                <div class="upload-wrap">
                  <input type="file" class="upload-pic" />
                  <span class="upload-text">选择文件</span>
                </div>
              </div>
              <div class="upload-error" style="display: none">
                <div class="upload-error-text" style="color: red">
                  抱歉，您上传的文件不是图片格式，请<a href="javascript:void(0)"
                    >重新上传</a
                  >
                </div>
                <div class="upload-error-text">
                  仅支持2M以下jpg，jpeg，png，bmp，gif格式图片
                </div>
              </div>
              <div class="upload-loading" style="display: none">
                正在加载图片...
              </div>
              <div class="upload-close"></div>
            </div>
          </div>
          <div class="header-first-right">
            <a href="/about/downLoadUrl.aspx"
              ><div class="header-first-exe">
                <img src="/images/header/exe-icon.png" />桌面客户端
              </div></a
            >

            <div class="header-first-user">
              欢迎您，<span
                >yqq(点数会员)
                <a
                  href="/member/default.aspx"
                  class="app"
                  style="color: #ff0000"
                  >会员中心</a
                >
                | <a href="/member/loginOut.aspx">退 出</a></span
              >
            </div>
          </div>
        </div>
        <!-- 导航菜单 -->
        <div class="navs">
          <li
            class="navs-item"
            v-for="(item, index) in menuList"
            :key="index"
            @mouseenter="mouseEnterNav($event, item)"
            @mouseleave="handleMouseLeave"
            @click="handleClickMenu($event, item)"
          >
            <img
              :src="item.icon"
              v-if="item.icon"
              style="pointer-events: none"
            />
            <span v-if="item.name" style="pointer-events: none">{{
              item.name
            }}</span>
          </li>
          <!-- 导航菜单箭头 -->
          <span
            id="navArrow"
            class="iconfont icon-a-xingzhuang12"
            :style="{color: currentNav.backgroundTop, transform: navModalVisible ? 'translate3D(0, -40%, 0)' : 'translate3D(0, 0, 0)'}"
            @mouseenter="navModalVisible = true"
            @mouseleave="navModalVisible = false"
          >
          </span>
        </div>
        <!-- 导航菜单下拉项 -->
        <div class="nav-modal-wrap">
          <div
            class="navs-modal"
            ref="navModal"
            :style="{background: currentNav.background, transform: navModalVisible ? 'translate3D(0, 0, 0)' : 'translate3D(0, calc(-100% - 1px), 0)'}"
            :class="currentNav.class"
            @mouseenter="navModalVisible = true"
            @mouseleave="navModalVisible = false"
          >
            <div
              class="navs-modal-top"
              :style="{background: currentNav.backgroundTop}"
            >
              <span
                class="circle"
                :style="{background: currentNav.backgroundTop}"
              ></span>
            </div>
            <div class="navs-modal-content">
              <div class="navs-modal-content-left">
                <div
                  class="category"
                  v-for="(item, index) in currentNav.children"
                  :key="index"
                >
                  <div class="section" @click="jumpTo(item)">
                    <div class="icon-wrap">
                      <img :src="item.icon" />
                    </div>
                    <p class="label">{{ item.name }}</p>
                  </div>
                  <div class="wrap-nav">
                    <li
                      class="sub-nav"
                      v-for="(child, index) in item.subMenu"
                      :key="index"
                      @click="jumpTo(child)"
                    >
                      {{ child.name }}
                    </li>
                  </div>
                  <div class="desc" v-if="item.desc">{{ item.desc }}</div>
                </div>
              </div>
              <div
                class="navs-modal-content-right"
                v-if="currentNav.category_intro"
              >
                <div>
                  <p class="intro-title">
                    <img
                      src="/images/header/intro-title.png"
                      style="margin-right: 5px"
                    />栏目介绍
                  </p>
                  <p class="intro-text">{{ currentNav.category_intro }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        $(function () {
          $(".search-btn").on("click", function () {
            var brandkey = $("#key_barnd").val();
            if (brandkey != "") {
              window.location.href =
                "/kstk/search-0-0-0-" + brandkey + "-1.html";
            }
          });
        });

        const { createApp, ref, computed } = Vue;

        const app = createApp({
          setup() {
            const navModalVisible = ref(false);

            const currentNav = ref({});

            const hoverFontColor = computed(
              () => currentNav.value.backgroundTop
            );

            const menuList = window.menuList;

            let timeId = 0; // 定时器id，计算鼠标停留时间

            // 鼠标移动到菜单
            function mouseEnterNav(e, item) {
              timeId = setTimeout(() => {
                showModal(e, item);
              }, 2000);
            }

            // 显示菜单
            function showModal(e, item) {
              currentNav.value = item;
              if (item.children) navModalVisible.value = true;
              let navArrowDom = document.querySelector("#navArrow");
              navArrowDom.style.left =
                e.target.offsetLeft + 20 * (window.innerWidth / 1920) + "px";
            }

            // 鼠标离开菜单
            function handleMouseLeave() {
              clearTimeout(timeId);
              navModalVisible.value = false;
            }

            // 点击菜单
            function handleClickMenu(e, item) {
              clearTimeout(timeId);
              showModal(e, item);
              jumpTo(item);
            }

            // 点击导航菜单跳转
            function jumpTo(item) {
              if (item.link) {
                item.open
                  ? window.open(item.link)
                  : (window.location.href = item.link);
              }
            }

            return {
              navModalVisible,
              currentNav,
              hoverFontColor,
              menuList,
              mouseEnterNav,
              handleMouseLeave,
              jumpTo,
              handleClickMenu,
            };
          },
        });

        app.mount("#header");
      </script>
    </section>

    <div
      style="
        width: 1198px;
        font-size: 30px;
        color: #666666;
        margin: 30px auto 0px auto;
      "
    >
      充值点数
    </div>

    <div class="user" style="width: 1198px">
      <div class="user_info" style="margin-bottom: 0; width: 100%">
        <div class="info_left">
          <img src="/images/user.png" width="61" height="61" />
          <p>yqq</p>
        </div>
        <div class="info_right">
          <h3>您的会员信息</h3>
          <p>会员类型：<span>点数会员</span></p>
          <p>
            账户信息：<span>剩余点数：98602，到期时间：2026/3/29 15:24:35</span>
          </p>
        </div>
        <div class="info_btn"><a href="memberPoint.aspx">点数消费记录</a></div>
      </div>
    </div>
    <div class="user_nav">
      <ul>
        <li class="on">
          <a href="buyPoint.aspx"
            ><span class="icon1 iconfont">&#xe615;</span>充值点数</a
          >
        </li>
        <li>
          <a href="user_recharge.aspx"
            ><span class="icon1 iconfont">&#xe615;</span>充值记录</a
          >
        </li>
        <li>
          <a href="memberPoint.aspx"
            ><span class="icon1 iconfont">&#xe615;</span>点数消费记录</a
          >
        </li>

        <li>
          <a
            href="http://wpa.qq.com/msgrd?v=3&amp;uin=18550168&amp;site=qq&amp;menu=yes"
            target="_blank"
            ><span class="icon1 iconfont">&#xe612;</span>客服中心</a
          >
        </li>
      </ul>
    </div>
    <div class="user_tab">
      <div style="clear: both"></div>
      <form
        id="order-create-form"
        method="post"
        action="/api/payment/wxnatpay/index.aspx"
      >
        <div class="pay-info">
          <div class="pay-content">
            <input value="wxnatpay" id="pay_id" name="pay_id" type="hidden" />
            <div class="pay-choose">
              <li class="pay-item on" data-id="2">
                <div class="pay-item-top">
                  <div class="pay-counts">
                    <p><span class="red">5800</span>元</p>
                    <p class="remove-p">生图50个点数</p>
                  </div>
                  <div class="expire">
                    <span>有效期六个月</span>
                  </div>
                </div>
                <div class="pay-item-bottom">获得 <span>5万</span> 点数</div>
                <div class="discount">体验价</div>
              </li>
              <li class="pay-item" data-id="3">
                <div class="pay-item-top">
                  <div class="pay-counts">
                    <p><span class="red">10000</span>元</p>
                    <p class="remove-p">生图35个点数</p>
                  </div>
                  <div class="expire">
                    <span>有效期一年</span>
                  </div>
                </div>
                <div class="pay-item-bottom">获得 <span>10万</span> 点数</div>
                <div class="discount">7折</div>
              </li>

              <li class="pay-item" data-id="4">
                <div class="pay-item-top">
                  <div class="pay-counts">
                    <p><span class="red">30000</span>元</p>
                    <p class="remove-p">生图25个点数</p>
                  </div>
                  <div class="expire">
                    <span>有效期一年</span>
                  </div>
                </div>
                <div class="pay-item-bottom">获得 <span>30万</span> 点数</div>
                <div class="discount">5折</div>
              </li>
              <li class="pay-item" data-id="5">
                <div class="pay-item-top">
                  <div class="pay-counts">
                    <p><span class="red">50000</span>元</p>
                    <p class="remove-p">生图20个点数</p>
                  </div>
                  <div class="expire">
                    <span>有效期一年</span>
                  </div>
                </div>
                <div class="pay-item-bottom">获得 <span>50万</span> 点数</div>
                <div class="discount">4折</div>
              </li>
            </div>
            <div class="pay-type">
              <p class="pay-type-title">选择支付方式</p>
              <div class="pay-type-bottom">
                <input value="2" id="pay_item" name="pay_item" type="hidden" />
                <div class="pay-imgs">
                  <li class="pay-img-item on" data-id="wxnatpay">
                    <img src="../images/user/wechatpay.png" class="pay-icon" />
                    <img
                      src="../images/user/choose-icon.png"
                      class="pay-choose-icon"
                    />
                  </li>
                  <li class="pay-img-item" data-id="alipaypc">
                    <img src="../images/user/alipay.png" class="pay-icon" />
                    <img
                      src="../images/user/choose-icon.png"
                      class="pay-choose-icon"
                    />
                  </li>
                </div>
                <div class="agreement">
                  <input
                    type="checkbox"
                    id="agree"
                    value="0"
                    class="checkbox"
                  />
                  <span>同意</span>
                  <a href="javascript: void(0)">R355VIP会员服务协议</a>
                </div>
                <div class="pay-btn">确认支付</div>
              </div>
            </div>
            <div class="pay-tips">
              <p class="bold-p">开通点数会员注意事项：</p>
              <p>1.开通点数会员时拥有相同有效期，自开通之日起计算;</p>
              <p>
                2.请在有效期内使用您的点数，期限到期后，相关权益将收回，未用完的点数将清零；
              </p>
              <p>
                3.期限未到期又继续开通了其他套餐，当前有效期以最新开通的为准，有效期不叠加;
              </p>
            </div>
          </div>
        </div>
      </form>
      <script>
        // 切换充值点数选中样式
        $(".pay-item").click(function () {
          $(".pay-item").removeClass("on");
          $(this).addClass("on");
          $("#pay_item").val($(this).data("id"));
        });

        // 切换支付方式选中样式
        $(".pay-img-item").click(function () {
          $(".pay-img-item").removeClass("on");
          $(this).addClass("on");
          $("#pay_id").val($(this).data("id"));

          $("#order-create-form").attr(
            "action",
            "/api/payment/" + $("#pay_id").val() + "/index.aspx"
          );
        });
        $(function () {
          $(".pay-btn").click(function () {
            if (!$("#agree").get(0).checked) {
              alert("请先勾选“R355VIP会员服务协议”");
              return;
            }
            var $form = $("#order-create-form");

            // 提交表单
            $form.submit();
          });
        });
      </script>
    </div>

    <link rel="stylesheet" type="text/css" href="/js/artdialog/ui-dialog.css" />
    <link rel="stylesheet" href="/css/validate.css" />
    <ul class="kf">
      <li class="li1">
        <div class="show_a">
          <em></em>
          <div style="padding-left: 10px">
            <div class="kf_titel">在线客服</div>
            <a
              href="http://wpa.qq.com/msgrd?v=3&amp;uin=18550168&amp;site=qq&amp;menu=yes"
              target="_blank"
              ><img
                border="0"
                style="margin-top: 5px"
                title="点击这里给我发消息"
                alt="点击这里给我发消息"
                src="http://wpa.qq.com/pa?p=2:18550168:41"
            /></a>
          </div>
        </div>
      </li>
      <li class="li2">
        <div class="show_b">
          <em></em>
          <div class="kf_titel">联系我们</div>
          <p>020-31232355</p>
        </div>
      </li>
      <li class="li3">
        <div class="show_c">
          <form id="feedbackform" name="feedbackform" url="/Ajax/addneed.ashx">
            <div class="kf_titel">会员需求与建议</div>
            <em></em>
            <textarea
              rows="5"
              name="xqjy"
              class="textarea"
              placeholder="请在此详细输入您公司目前所需资料类型或提交宝贵意见，我司将会在最短的时间内为您上传所需的资料，谢谢！"
            ></textarea>
            <div class="lay">
              <input
                type="submit"
                id="btnSubmit_feedback"
                class="Submission1"
                value="提交"
              />
            </div>
          </form>
        </div>
      </li>
      <a
        href="http://widget.weibo.com/dialog/follow.php?fuid=2825343592&refer=www.r355.com&language=zh_cn&type=widget_page&vsrc=app_followbutton&backurl=http%3A%2F%2Fwww.r355.com%2F&rnd=1395281896175"
        title="新浪微博
  "
        target="_blank"
      >
        <li class="li4"></li>
      </a>
      <li class="li5">
        <div class="show_d">
          <em></em
          ><img src="/images/weixin_code.png" width="106" height="240" />
        </div>
      </li>
      <li class="li7"></li>
    </ul>
    <section>
      <link href="/css/footer.css" rel="stylesheet" type="text/css" />
      <div id="footer">
        <img src="/images/footer/innovative-future.png" class="footer-future" />
        <div class="footer-contact">
          <img src="/images/footer/wechat-icon.png" />
          <img src="/images/footer/qq-icon.png" />
          <img src="/images/footer/phone-icon.png" />
        </div>
        <div class="footer-line"></div>
        <div class="footer-bot">
          <div class="footer-bot-left">
            <div class="footer-bot-navs">
              <li class="nav-item">
                <a href="/about/R355-1636.html">关于我们</a>
              </li>
              <li class="nav-item">
                <a href="/about/R355-1637.html">联系我们</a>
              </li>
              <li class="nav-item">
                <a href="/about/R355-1632.html">免责声明</a>
              </li>
              <li class="nav-item">
                <a href="/about/R355-1633.html">会员须知</a>
              </li>
              <li class="nav-item">
                <a href="/about/R355-1639.html">收费说明</a>
              </li>
              <li class="nav-item">
                <a href="/about/R355-1640.html">汇款方式</a>
              </li>
              <li class="nav-item">
                <a href="/about/R355-1641.html">办理流程</a>
              </li>
            </div>
            <p>
              Copyright 2007-2024 R355.com， All Rights Reserved 闽 ICP 备
              07502261 号-1
            </p>
          </div>
          <img
            src="/images/footer/qrcode.png"
            style="width: 94px; height: 94px"
          />
        </div>
      </div>
    </section>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.SuperSlide.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/smcm.js"></script>

    <script
      type="text/javascript"
      charset="utf-8"
      src="/js/artdialog/dialog-plus-min.js"
    ></script>
    <script type="text/javascript" src="/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="/js/Validform_v5.3.2_min.js"></script>
    <input
      name="webBot1$turl"
      type="hidden"
      id="webBot1_turl"
      value="https://www.r355.com/member/buyPoint.aspx"
    />
    <script src="/js/purify.min.js"></script>
    <script>
      $(function () {
        AjaxInitForm("#feedbackform", "#btnSubmit_feedback", 0);
        $(this).keypress(function (e) {
          var key = window.event ? e.keyCode : e.which;
          if (key.toString() == "13") {
            return false;
          }
        });
        var searchEmptyHtml =
          '<div class="wrap-tips"><div class="search-tips"><p class="cnt-tips">您可以点击上面字母快速检索品牌；</p><div class="extra"><p class="cnt">需要查看所有品牌，请点击：</p><a href="javascript:void(0)" onClick="getSiftDataTop(\'id\',\'topBrandStr\',\'all\');" title="查看所有品牌" class="link-btn">查看所有品牌</a></div><i class="notice-status"></i></div></div>';
        var tipText = "请输入品牌名称";
        $(".text_a").click(function () {
          $(".ChoiceLayerTop").removeClass("currentTagR");

          //默认选中A
          $("#searchLetterTop a.current").removeClass("current");
          //$("#searchLetterTop a").eq(0).addClass('current');
          var text = $(".text_a").val();
          if (text != "" && text.substr(0, 1) != "请") {
            checkLetter(text);
            getSiftDataTop(
              "id",
              "topBrandStr",
              text.substr(0, 1).toUpperCase()
            );
          } else {
            $("#searchContentTop").html(searchEmptyHtml);
          }
          if (text == tipText) $(".text_a").val("");
        });

        $("#searchLetterTop a").click(function () {
          $("#searchLetterTop a.current").removeClass("current");
          $(this).addClass("current");
          var lt = $(this).text() == "其他" ? "qt" : $(this).text();
          getSiftDataTop("id", "topBrandStr", lt);
        });

        $(".Btnclose").click(function () {
          $(".ChoiceLayerTop").addClass("currentTagR");
          var text = $(".text_a").val();
          if (text == "") $(".text_a").val(tipText);
        });

        $("#topBrandStr").keyup(function (e) {
          var arr = [13, 37, 38, 39, 40];
          if (jQuery.inArray(e.keyCode, arr) != -1) return;
          var lt = $(this).val();
          if (lt == "") {
            $("#searchContentTop").html(searchEmptyHtml);
          } else {
            checkLetter(lt);
            getSiftDataTop("text", "topBrandStr", lt);
          }
        });
      });

      function getSiftDataTop(tp, tag, lt) {
        var hi = "加载中...";
        $("#searchContentTop").html(hi);
        $.ajax({
          type: "post",
          url: "/ajax/ret_brand_list_all.ashx",
          data: { cartype: lt, bid: 0, tp: tp },
          dataType: "html",
          success: function (data) {
            $("#searchContentTop").html(data);
          },
        });
      }
    </script>
  </body>
</html>
