
<html>
<head>
<title>会员登录-帮助中心-R355服饰资讯网</title>
<meta name="Description"  content="R355服饰资讯网,专业的服装设计网站,为您提供最专业的时装设计,时装设计图,时尚服装图片,环保时装设计,时装设计图片,个性时尚服装图片,服装设计图片,服装款式设计图,服装图案,服装杂志,时装杂志,服装书籍,时装书籍,时装发布,时装发布会等信息">
<meta name="keywords" content="时装设计图,时尚服装图片,环保时装设计,时装设计图片,个性时尚服装图片,服装设计图片,服装款式设计图,服装图案,服装杂志,时装杂志,服装书籍,时装书籍,时装发布,时装发布会">
<meta name="subject" content="服装设计" />
<meta name="searchtitle" content="服装设计,R355服饰资讯网" />
<meta name="language" content="chinese" />
<meta name="location" content="China" />
<meta name="resource-type" content="Good WebSites" />
<meta name="email" content="R355@R355.com" />
<meta name="author" content="R355服饰资讯网,https://www.R355.com" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link href="/css/base.css" rel="stylesheet" type="text/css">
<link href="/css/master.css" rel="stylesheet" type="text/css">
<link href="/css/smcm.css" rel="stylesheet" type="text/css">
    <link href="/css/list.css" rel="stylesheet" type="text/css">
    <link href="/css/new2022.css" rel="stylesheet" type="text/css">
</head>
<body class="color_a">

<script src="/js/jquery-1.7.2.min.js"></script>
<section>
  <link href="/css/header.css" rel="stylesheet" type="text/css" />
  <link href="//at.alicdn.com/t/c/font_4789865_f95hj9izwcr.css" rel="stylesheet">
  <script src="/js/vue.global.js"></script>
  <script src="/js/i18n-init.js"></script>
  <script src="/js/menu.js?v=0.0121"></script>
  <!-- 引入防xss攻击js -->
  <script src="/js/purify.min.js"></script>

  <div id="header">
    <div class="lang-switcher">
      <div class="lang-current">
        <i class="iconfont icon-yuyan"></i>
        <span class="lang-text">中文</span>
        <i class="iconfont icon-xiajiantou"></i>
      </div>
      <ul class="lang-list">
        <li data-lang="zh">中文</li>
        <li data-lang="en">English</li>
        <li data-lang="es">Español</li>
        <li data-lang="fr">Français</li>
        <li data-lang="ru">Русский</li>
      </ul>
    </div>
    <a href="/" title="R355服饰资讯网"><img src="/images/header/logo.png" class="header-logo"></a>
    <div class="header-first">
      <div class="search">
        <div class="search-icon">
          <img src="/images/header/icon-search.png" alt="">
        </div>
        <input placeholder="请输入品牌名" class="search-input" value="" id="key_barnd" data-localize="header.search_placeholder" />
        <div class="search-camera">
          <img src="/images/header/camera-icon.png" />
        </div>
        <div class="search-btn" data-localize="header.search_btn">全站搜</div>
        <!-- 拍照搜索弹框 -->
        <div class="search-pop">
          <div class="search-content">
            <div class="search-drop" data-localize="header.drag_hint">拖拽图片到这里</div>
            <div class="upload-wrap">
              <input type="file" class="upload-pic" />
              <span class="upload-text" data-localize="header.choose_file">选择文件</span>
            </div>
             
          </div>
          <div class="upload-error" style="display: none;">
            <div class="upload-error-text" style="color:red">抱歉，您上传的文件不是图片格式，请<a href="javascript:void(0)">重新上传</a></div>
            <div class="upload-error-text">仅支持2M以下jpg，jpeg，png，bmp，gif格式图片</div>
          </div>
          <div class="upload-loading" style="display: none;" data-localize="header.loading">正在加载图片...</div>
          <div class="upload-close"></div>
        </div>
      </div>
      <div class="header-first-right">
        <a href="/about/downLoadUrl.aspx"><div class="header-first-exe"><img src="/images/header/exe-icon.png" /><span data-localize="header.desktop_client">桌面客户端</span></div></a>
        
         <div class="header-first-login"><a href="/member/login.aspx" data-localize="header.login">登录</a><span class="header-first-login-line"></span><a href="/member/reg.aspx" data-localize="header.register">注册</a></div>
   
      </div>
    </div>
    <!-- 导航菜单 -->
    <div class="navs">
       <li
        class="navs-item"
        v-for="(item, index) in menuList"
        :key="index"
        @mouseenter="mouseEnterNav($event, item)"
        @mouseleave="handleMouseLeave"
        @click="handleClickMenu($event, item)"
      >
        <img :src="item.icon" v-if="item.icon" style="pointer-events: none;" />
        <span v-if="item.name" style="pointer-events: none;">{{ t(item.key || item.name) }}</span>
      </li>
       <!-- 导航菜单箭头 -->
      <span
        id="navArrow"
        class="iconfont icon-a-xingzhuang12"
        :style="{color: currentNav.backgroundTop, transform: navModalVisible ? 'translate3D(0, -40%, 0)' : 'translate3D(0, 0, 0)'}"
        @mouseenter="navModalVisible = true"
        @mouseleave="navModalVisible = false"
      >
      </span>
    </div>
    <!-- 导航菜单下拉项 -->
    <div class="nav-modal-wrap">
      <div
        class="navs-modal"
        ref="navModal"
        :style="{background: currentNav.background, transform: navModalVisible ? 'translate3D(0, 0, 0)' : 'translate3D(0, calc(-100% - 1px), 0)'}"
        :class="currentNav.class"
        
        @mouseenter="navModalVisible = true"
        @mouseleave="navModalVisible = false"
      >
        <div class="navs-modal-top" :style="{background: currentNav.backgroundTop}">
          <span class="circle" :style="{background: currentNav.backgroundTop}"></span>
        </div>
        <div class="navs-modal-content">
          <div class="navs-modal-content-left">
            <div class="category" v-for="(item, index) in currentNav.children" :key="index">
              <div class="section" @click="jumpTo(item)">
                <div class="icon-wrap">
                  <img :src="item.icon" />
                </div>
                <p class="label">{{ t(item.key || item.name) }}</p>
              </div>
              <div class="wrap-nav">
                <li class="sub-nav" v-for="(child, index) in item.subMenu" :key="index" @click="jumpTo(child)">{{ t(child.key || child.name) }}</li>
              </div>
              <div class="desc" v-if="item.desc">{{ item.desc }}</div>
            </div>
          </div>
          <div class="navs-modal-content-right" v-if="currentNav.category_intro">
            <div>
              <p class="intro-title">
                <img src="/images/header/intro-title.png" style="margin-right: 5px;">{{ t('menu.column_intro') }}
              </p>
              <p class="intro-text">{{ t(currentNav.category_intro_key || currentNav.category_intro) }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <script>
    
    $(function() {
        $(".search-btn").on("click", function(){
            var brandkey=$("#key_barnd").val();
            if(brandkey!='')
            {
                window.location.href="/kstk/search-0-0-0-"+brandkey+"-1.html";
            }
        });
    })

    const {createApp, ref, computed, onMounted} = Vue

    const app = createApp({
      setup() {
        const navModalVisible = ref(false)
        const currentNav = ref({})
        const i18nData = ref(window.i18nData || {})

        const hoverFontColor = computed(() => currentNav.value.backgroundTop)

        const menuList = window.menuList

        let timeId = 0  // 定时器id，计算鼠标停留时间

        onMounted(() => {
          $(document).on('localize.completed', () => {
            i18nData.value = window.i18nData
          })
        })

        // 鼠标移动到菜单
        function mouseEnterNav(e, item) {
          timeId = setTimeout(() => {
            showModal(e, item)
          }, 200)
        }

        // 显示菜单
        function showModal(e, item) {
          currentNav.value = item
          if (item.children) navModalVisible.value = true
          let navArrowDom = document.querySelector('#navArrow')
          navArrowDom.style.left = (e.target.offsetLeft + 20 * (window.innerWidth / 1920)) + 'px'
        }

        // 鼠标离开菜单
        function handleMouseLeave() {
          clearTimeout(timeId)
          navModalVisible.value = false
        }

        // 点击菜单
        function handleClickMenu(e, item) {
          clearTimeout(timeId)
          showModal(e, item)
          jumpTo(item)
        }

        // 点击导航菜单跳转
        function jumpTo(item) {
          if (item.link) {
            item.open ? window.open(item.link) : window.location.href = item.link
          }
        }

        const t = (key) => {
          if (!key) return ''
          if (window.i18nHandler && window.i18nHandler.translate) {
            const val = i18nData.value
            return window.i18nHandler.translate(key)
          }
          return key
        }

        return {
          navModalVisible,
          currentNav,
          hoverFontColor,
          menuList,
          mouseEnterNav,
          handleMouseLeave,
          jumpTo,
          handleClickMenu,
          t,
          i18nData
        }
      }
    })

    app.mount("#header")

  </script>

</section>

    
    <div class="Login_box">
  <div class="top">
    <div class="txt" data-localize="login.title">欢迎登录</div>
  </div>
         <form id="loginform" name="loginform" url="/Ajax/cheuser.ashx?act=user_login">
                 <div class="main1">
    <div class="left1">
      <div class="text_box1">
        <div class="text_left" data-localize="login.username">用户名：</div>
        <div class="text_right">
          <input class="input" type="text" name="txtUserName" id="txtUserName" value="" />
        </div>
      </div>
      <div class="text_box1">
        <div class="text_left" data-localize="login.password">密码：</div>
        <div class="text_right">
          <input class="input" type="password" name="txtPassword" id="txtPassword" value="" />
        </div>
      </div>
    <div class="text_box1">
        <div class="text_left" data-localize="member.verification_code">验证码：</div>
        <div class="text_right">
          <input class="input" type="text" name="txtcode" id="txtcode" value="" style="width:100px" placeholder="请输入5位验证码" data-localize="member.placeholder_code" /> <a href="javascript:fGetCode()"><img id="imgCount" name="imgCount" src="/VerifyCode.aspx" style="margin: auto 5px;  height: 46px" align="absmiddle"></a>
        </div>
      </div>
      <div class="text_box1">
        <div class="text_left">&nbsp;</div>
        <div class="text_right" style="font-size:12px; color:#a8a7a7">
          <label>
            <input name="remember" type="checkbox" id="remember" value="1" />
            <span data-localize="login.remember">下次自动登录</span></label> <div id="msgtips" class="tip-box"></div>
        </div>
      </div>
      <div class="text_box1">
        <div class="text_left">&nbsp;</div>
        <div class="text_right" style="font-size:12px; color:#a8a7a7">
          <div class="Login_btn">
              <input id="btnSubmit" name="btnSubmit" value="立即登录" type="submit" class="submit_btn reglogin_btn">
              </div>
          <div class="get_back"><a href="javascript:;" onClick="javascript:showDiv_c()">忘记密码？</a></div>
          <div class="ge"><a href="/about/R355-1636.html">关于我们</a> | <a href="/about/R355-1641.html">办理流程</a> | <a href="/about/downLoadUrl.aspx">客户端下载</a> | <a href="https://www.r355.com/">返回首页</a></div>
        </div>
      </div>
    </div>
    <div class="right1">
      <div class="r1">马上注册成为R355服饰资讯会员开通试用服务，就可以浏览更多精彩资讯！</div>
      <div class="r2">客服电话：020-31232355</div>
      <div class="r3"> <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=18550168&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" style="margin-top:5px" title="点击这里给我发消息" alt="点击这里给我发消息" src="/images/qq.png"></a></div>
      <div class="r4">微信咨询
        <div class="wx_show"><img src="/images/wx_box.png" width="121" height="106"></div>
      </div>
      <div class="r5"><a href="/member/reg.aspx"><img src="/images/btn.png" width="114" height="46"></a></div>
    </div>
  </div>
             </form>
</div>
     <input name="turl" type="hidden" id="turl" value="https://www.r355.com/member/default.aspx" />
 
<script type="text/javascript" charset="utf-8" src="/js/artdialog/dialog-plus-min.js"></script>
            <script type="text/javascript" src="/js/jquery.form.min.js"></script>
            <script type="text/javascript" src="/js/Validform_v5.3.2_min.js"></script>
<script src="/js/smcm.js"></script>
<link rel="stylesheet" href="/css/validate.css" />
    <link rel="stylesheet" type="text/css" href="/js/artdialog/ui-dialog.css" />
<ul class="kf">
  <li class="li1">
    <div class="show_a"><em></em>
      <div style="padding-left:10px">
        <div class="kf_titel">在线客服</div>
        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=18550168&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" style="margin-top:5px" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:18550168:41"></a></div>
      <div><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3871105&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" style="margin-top:5px; margin-left:10px" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:3871105:41"></a></div>
    </div>
  </li>
  <li class="li2">
    <div class="show_b"><em></em>
      <div class="kf_titel">联系我们</div>
      <p>020-31232355</p>
    </div>
  </li>
  <li class="li3">
     <div class="show_c">
    <form id="feedbackform" name="feedbackform" url="/Ajax/addneed.ashx">
      <div class="kf_titel">会员需求与建议</div>
      <em></em>
      <textarea rows="5" name="xqjy" class="textarea" placeholder="请在此详细输入您公司目前所需资料类型或提交宝贵意见，我司将会在最短的时间内为您上传所需的资料，谢谢！"></textarea>
      <div class="lay"><input type="submit" id="btnSubmit_feedback" class="Submission1" value="提交"></div>
        </form>
    </div>
  </li>
  <a href="http://widget.weibo.com/dialog/follow.php?fuid=2825343592&refer=www.r355.com&language=zh_cn&type=widget_page&vsrc=app_followbutton&backurl=http%3A%2F%2Fwww.r355.com%2F&rnd=1395281896175" title="新浪微博" target="_blank">
  <li class="li4"></li>
  </a>
  <li class="li5">
    <div class="show_d"><em></em><img src="/images/weixin_code.png?v=0.133" width="106" height="240"></div>
  </li>
  <li class="li7"></li>
</ul>
<section>
  <link href="/css/footer.css" rel="stylesheet" type="text/css" />
  <div id="footer">
    <img src="/images/footer/innovative-future.png" class="footer-future" />
    <div class="footer-contact">
      <img src="/images/footer/wechat-icon.png" />
      <img src="/images/footer/qq-icon.png" />
      <img src="/images/footer/phone-icon.png" />
    </div>
    <div class="footer-line"></div>
    <div class="footer-bot">
      <div class="footer-bot-left">
        <div class="footer-bot-navs">
          <li class="nav-item">
            <a href="/about/R355-1636.html">关于我们</a>
          </li>
          <li class="nav-item">
            <a href="/about/R355-1637.html">联系我们</a>
          </li>
          <li class="nav-item">
            <a href="/about/R355-1632.html">免责声明</a>
          </li>
          <li class="nav-item">
            <a href="/about/R355-1633.html">会员须知</a>
          </li>
          <li class="nav-item">
            <a href="/about/R355-1639.html">收费说明</a>
          </li>
          <li class="nav-item">
            <a href="/about/R355-1640.html">汇款方式</a>
          </li>
          <li class="nav-item">
            <a href="/about/R355-1641.html">办理流程</a>
          </li>
        </div>
        <p>Copyright 2007-2025 R355.com， All Rights Reserved <a href="https://beian.miit.gov.cn/" target="_blank">闽ICP备 07502261号-1</a></p>
      </div>
      <img src="/images/footer/qrcode.png" style="width: 94px; height: 94px;">
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/Mouse.js" charset="utf-8"></script>
   <script>
       $(function () {
           AjaxInitForm('#feedbackform', '#btnSubmit_feedback', 0);
      });
  </script>
<script src="/js/purify.min.js"></script>
  <script src="/js/jquery.SuperSlide.js"></script>
      <script src="/js/base.js"></script> 
  <script type="text/javascript" charset="utf-8" src="/js/login-validate.js?t=0.213"></script>
</body>
</html>
<!-- 找回密码弹框结束 --> 
<div id="popDiv_c" class="mydiv_c" style="display:none">
  <div class="drop_in">
    <div class="drop_in_Close" style="background:#d8b056; width:100%; margin-right:0px"><span style="float:left; line-height:50px; color:#FFF; padding-left:15px; font-size:18px">找回密码</span><a href="javascript:closeDiv_c()" style="float:right; color:#FFF; padding-right:10px"><span class="icon1 iconfont">&#xe620;</span></a></div>
    <div class="drop_in_top" style="line-height:4px !important; padding-top:70px; padding-left:30px; padding-right:30px; padding-bottom:30px"><span class="icon1 iconfont" style="color:#ddbb6d">&#xe63d;</span>考虑到贵司账号多台电脑使用，修改后会导致其他电脑无法正常使用，请您用签约时的手机号码，联系客服人员进行查询或修改，谢谢！</div>
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=18550168&amp;site=qq&amp;menu=yes" target="_blank" style="float:left;padding-left:210px;color:#ddbb6d"><span class="icon1 iconfont"></span>在线咨询</a>
    <div class="r14 r15" style="background-image:none;"><a href="javascript:;" style="color:#ddbb6d"><span class="icon1 iconfont" style="color:#ddbb6d"></span>微信咨询</a>
      <div class="wx_show1" style="display: none;"><img src="/images/wx_box.png" width="121" height="106"></div>
    </div>
    <div style="clear:both"></div>
    <div class="do_img">
      <input type="submit" onClick="javascript:closeDiv_c()"  class="Submission" value="我知道了" style="width:180px; margin-left:auto; margin-right:auto; font-size:18px">
    </div>
  </div>
</div>
<div id="bg_c" class="bg_show_c" style="display:none;"></div>
<iframe id='popIframe_c' class='popIframe_c' frameborder='0' ></iframe>

<!-- 找回密码弹框结束 --> 